<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD  -->
  </head>

  <header>
    <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER  -->
  </header>

  <body>
    

    <div class="">¡CONSTRUIMOS SUEÑOS!</div>


    
    <br>
    <br>
    <br>
    <br>
    <br>



    sddvssdsdvsdvsdvsdds
    sddvssdsdvsdvsdvsdds
    sddvssdsdvsdvsdvsdds
    sddvssdsdvsdvsdvsdds

    <div><strong><%= entrega.nombre %></strong></div>
    <div><strong><%= entrega.superficie %></strong></div>
    <div><strong><%= entrega.imagenes %></strong></div>

  </body>

  <footer>
    <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
  </footer>

</html>