<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD  -->
  </head>

  <header>
    <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER  -->
  </header>

  <body>
    
    <h1>CREACIÓN DE NUEVA ENTREGA</h1>

    <form action="/entregas/create" method="POST" class="formularioLog" enctype="multipart/form-data">
        <div class="createEntregas">
            <label>NOMBRE</label>
            <input type="text" name="nombre" class="form-control" placeholder="Escribe aqui el nombre">

            <label>DESCRIPCIÓN</label>
            <input type="text" name="descripcion" class="form-control" placeholder="Escribe aqui la descripcion">
            
            <label>SUPERFICIE</label>
            <input type="text" name="superficie" class="form-control" placeholder="Escribe aqui la superficie">

            <label>UBICACIÓN</label>
            <input type="text" name="ubicacion" class="form-control" placeholder="Escribe aqui la ubicacion">

            <label>ENLACEL DEL VIDEO</label>
            <input type="text" name="video" class="form-control" placeholder="Escribe aqui el enlace">

            <label>MODELO</label>
            <select 
                name="modelo"
                class="form-select">
                    <option value=""></option>
                        <% modelos.forEach(modelo=>{ %> 
                            <option value= "<%= modelo.id %>"
                            <%= locals.oldData && (modelo === oldData.modelo) ? 'select' : null %> >    
                            <%= modelo.nombre %>    
                            </option>
                        <% }) %>
            </select>

            <label>IMAGEN</label>
            <input 
                type="file"
                name="imagen"
                class="form-control">

            <div class="botonEntregas">
              <button type="button" class="btn btn-primary">SUBIR ENTREGA!</button>
            </div>

        </div>

    </form>
      
  </body>

  <footer>
    <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
  </footer>

</html>