<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD  -->
  </head>

  <header>
    <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER  -->
  </header>

  <body>
    
    <div class="bannerEntregaDetalle">
      <img src="/images/entregas/<%= entrega.imagenes %>">
    </div>

    <div class="cajaDetalleEntregas">
      <div class="tituloDetalleEntrega">¡ENTREGAMOS UNA <%= entrega.nombre %> CONTAINER DE <%= entrega.superficie %>m²!</div>
      <p>Viajamos a <%= entrega.ubicacion %>, para realizar la entrega e instalación de una <%= entrega.Modelo.nombre %> container de <%= entrega.superficie %>m².</p>
      <div class="videoEntregaDetalle">
        <iframe  src="<%= entrega.video %>"  allowfullscreen></iframe>
      </div>

      <br>

      <div class="textoDetalle">
        <p><%= entrega.descripcion %></p>
        <p><strong>¡Así funciona nuestro sistema llave en mano! Nuestros clientes sólo deben estar listos para disfrutar de su <%= entrega.nombre %>.</strong></p>
        <p><strong>DESDE IMPORTAINER S.A</strong></p>
        <p>Felicitamos y agradecemos a nuestra cliente por confiarnos el sueño de adquirir...</p>
        
        <% if(entrega.Modelo.id == [1||2||3||4||5||6]){ %>
        <p><strong>¡SU CASA PROPIA!</strong></p>  
        <% } else if (entrega.Modelo.id == 9){ %>
        <p><strong>¡SU PROPIO FOODTRUCK!</strong></p>  
        <% } else if (entrega.Modelo.id == 10){ %>
        <p><strong>¡SU PROPIA OFICINA!</strong></p>  
        <% } %>
      </div>
    </div>

    <div class="solicitaDetalle">
      <div>¡EMPEZÁ A CONSTRUIR TU SUEÑO!</div>
      <button><a>¡SOLICITÁ TU PRESUPUESTO! <i class="fa-solid fa-message"></i></a></button>
    </div>
      
  </body>

  <footer>
    <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
  </footer>

</html>