<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD  -->
  </head>

  <header>
    <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER  -->
  </header>

  <body>
    

    <div class="">¡CONSTRUIMOS SUEÑOS!</div>

    <!--  Cajas de containers CON CAMPOS DINAMICOS LISTOS -->
    <% entregas.forEach(function(entrega){ %>
      <div class="cajaContainerHome">
        <div class="imagenContainerHome"><img src="/images/entregas/<%= entrega.imagenes %>"></div>
        <div class="detalleContainerHome">
          <div class="supHome">SUP: <i class="fa-solid fa-arrows-left-right-to-line"></i> <%= entrega.superficie %></div>
        </div>
        <div class="casaHome"><%= entrega.nombre %></div>
        <div class="casaHome">¡ENTREGA PROGRAMADA!</div>
        <div><button><a href="/entregas/detalle/<%=entrega.id%>">IR AL DETALLE</a></button></div>
      </div>
      <% }) %>
    
    <br>
    <br>
    <br>
    <br>
    <br>

  </body>

  <footer>
    <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
  </footer>

</html>