<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD  -->
  </head>

  <header>
    <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER  -->
  </header>

  <body>
    
    <div class="tituloEntregaList">¡CONSTRUIMOS SUEÑOS!</div>
    
 
      <!--  Cajas de containers CON CAMPOS DINAMICOS LISTOS -->
      <% entregas.forEach(function(entrega){ %>
        <div class="cajaEntregaList">
          <a href="/entregas/detalle/<%= entrega.id %>"><div class="imagenEntregaList"><img src="/images/entregas/<%= entrega.imagen %>"></div>
          <div class="overlayEntregas">
            <strong><div><%= entrega.nombre %> <%= entrega.superficie %>M<sup>2</sup></div></strong>
            <strong><div><%= entrega.ubicacion %></div></strong>
          </div></a>
        </div>
        <% }) %>


  </body>

  <footer>
    <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
  </footer>

</html>