<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD  -->
  </head>

  <header>
    <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER  -->
  </header>

  <body>
    
    <h1>CREACIÓN DE PROYECTO NUEVO</h1>
    
    <form action="/proyectos/create" method="POST" class="formularioLog" enctype="multipart/form-data">
        <div class="bodyCreateProyecto">
          <div class="columna1">
            <label>NOMBRE:</label>
            <input type="text" name="nombre" class="form-control" placeholder="Ingrese aqui el nombre">

            <label>PRECIO:</label>
            <input type="text" name="precio" class="form-control" placeholder="Ingrese aqui el precio">

            <label>DESCRIPCIÓN:</label>
            <input type="text" name="descripcion" class="form-control" placeholder="Ingrese aqui la descripcion">
        
            <label>SUPERFICIE:</label>
            <input type="text" name="superficie" class="form-control" placeholder="Ingrese aqui los mts de superficie">
            
            <label>AMBIENTES:</label>
            <input type="text" name="ambientes" class="form-control" placeholder="Ingrese aqui la cantidad de ambientes">

            <label>BAÑOS:</label>
            <input type="text" name="baños" class="form-control" placeholder="Ingrese aqui la cantidad de baños">

            <label>ADHESIÓN:</label>
            <input type="text" name="adhesion" class="form-control" placeholder="Ingrese aqui el precio de adhesion">

            <label>RESUMEN:</label>
            <input type="text" name="resumen" class="form-control" placeholder="Ingrese aqui el resumen">

            <label>DETALLE DEL BAÑO:</label>
            <input type="text" name="detallebaño" class="form-control" placeholder="Ingrese aqui el detalle del baño">
          </div>
          <div class="columna2">
            <label>DETALLE DE LA COCINA:</label>
            <input type="text" name="detallecocina" class="form-control" placeholder="Ingrese aqui el detalle de la cocina">

            <label>DETALLE DE ABERTURAS:</label>
            <input type="text" name="detalleaberturas" class="form-control" placeholder="Ingrese aqui el detalle de las aberturas">

            <label>REVESTIMIENTOS:</label>
            <input type="text" name="revestimientos" class="form-control" placeholder="Ingrese aqui el detalle de los revestimientos">

            <label>EQUIPAMIENTO:</label>
            <input type="text" name="equipamiento" class="form-control" placeholder="Ingrese aqui el equipamiento">

            <label>INSTALACIÓN ELÉCTRICA:</label>
            <input type="text" name="instalacion_electrica" class="form-control" placeholder="Ingrese aqui la instalacion electrica">

            <label>INSTALACIÓN DE AGUA:</label>
            <input type="text" name="instalacion_agua" class="form-control" placeholder="Ingrese aqui la instalacion del agua">

            <label>TIPOS DE PISOS:</label>
            <input type="text" name="tipos_de_pisos" class="form-control" placeholder="Ingrese aqui los tipos de pisos">

            <!--  CON ESTO NO ANDA
            <label>Video</label>
            <input type="file" name="video" class="form-control">
            -->

            <label>IMAGENES:</label>
            <input type="file" name="imagen" class="form-control">

            <label>CATEGORIA:</label>
            <select 
                name="categoria" 
                class="form-select">
                    <option value=""></option>
                        <% categorias.forEach(categoria=>{ %> 
                            <option value= "<%= categoria.id %>"
                            <%= locals.oldData && (categoria === oldData.categoria) ? 'select' : null %> >    
                            <%= categoria.nombre %>    
                            </option>
                        <% }) %>
            </select>
            
          </div>

        </div>

        <div class="botonCreate">
          <button type="submit" class="btn btn-primary">SUBIR PROYECTO</button>
        </div>

    </form>
      
  </body>

  <footer>
    <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
  </footer>

</html>