<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD  -->
  </head>

  <header>
    <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER  -->
  </header>

  <body>
    
    <div class="detalleProyectos">

      <div class="proyectoNombreDetalle"><%= proyecto.nombre %></div>
      
      <div class="proyectoCajaPadreDetalle">
          <div class="proyectoCajaHijo">
            <div class="vistasProyecto">
              <div>EXTERIOR</div>
              <div>INTERIOR</div>
              <div>PLANOS</div>
            </div>
            <div class="imagenesProyecto">
              <img src="/images/proyectos/<%= proyecto.imagenes %>">
            </div>
          </div>
          <div class="proyectoCajaHijo">
            <div><strong>DESCRIPCIÓN</strong></div>
            <div><%= proyecto.descripcion %></div>
            <br>
            <div><strong>ADHESIÓN</strong></div>
            <div>Precio: <strong><%= proyecto.adhesion %></strong></div>
            <br>
            <div><strong>CANTIDAD DE CUOTAS:</strong></div>
            <div class="cajaCuotasDetalle">
                <div class="cuotasProyecto">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          &nbsp 120 cuotas
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          &nbsp 240 cuotas
                        </label>
                      </div>
                </div>
                <div class="valorCuota">$<%= ((proyecto.precio/120) + ((proyecto.precio/120)*0.10) + 3050).toFixed(2) %></div> <!--  Cuota total es cuota pura (dividida en 120 o 240) + 10% de esa cuota pura + 3050 gastos adm y seg de vida -->
            </div>
            <div class="botonFinanciala">
              <a href="https://wa.me/5491122763820?text=" target="_blank"><button><strong>FINANCIALA HOY! <i class="fa-solid fa-message"></i></strong></button></a>
            </div>
          </div>
      </div>

      <div class="fichaTitulo">Ficha Técnica</div>

      <!--  ---------------- seccion de w3school ----------------  -->
      <div class="w3Tabs">
      
        <div class="w3-bar-block w3-black w3-card">
          <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Resumen')">Resumen</button>
          <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Baño')">Baño</button>
          <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Cocina')">Cocina</button>
          <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Aberturas')">Aberturas</button>
          <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Revestimiento')">Revestimiento</button>
          <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Equipamiento')">Equipamiento</button>
          <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Instalacion_electrica')">Instalación Eléctrica</button>
          <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Instalacion_agua')">Instalación de Agua</button>
          <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Pisos')">Pisos</button>
        </div>
        
        <div class="infoSecciones">
          <div id="Resumen" class="w3-container city w3-animate-zoom parrafoResumen" style="display:block">
            <h2>Resumen</h2>
            <p><%= proyecto.resumen %></p>
          </div>  
        
          <div id="Baño" class="w3-container city w3-animate-zoom" style="display:none">
            <h2>Baño</h2>
            <p><%= proyecto.detalle_baño %></p>
          </div>   
        
          <div id="Cocina" class="w3-container city w3-animate-zoom" style="display:none">
            <h2>Cocina</h2>
            <p><%= proyecto.cocina %></p>
          </div>
        
          <div id="Aberturas" class="w3-container city w3-animate-zoom" style="display:none">
            <h2>Aberturas</h2>
            <ul><% proyecto.aberturas.split("-").forEach(function(atributo){ %> 
              <li><%= atributo %></li>
              <% }) %>
            </ul>
          </div>

          <div id="Revestimiento" class="w3-container city w3-animate-zoom" style="display:none">
            <h2>Revestimiento</h2>
            <p><%= proyecto.revestimientos %></p>
          </div>

          <div id="Equipamiento" class="w3-container city w3-animate-zoom" style="display:none">
            <h2>Equipamiento</h2>
            <p><%= proyecto.equipamiento %></p>
          </div>

          <div id="Instalacion_electrica" class="w3-container city w3-animate-zoom" style="display:none">
            <h2>Instalación Eléctrica</h2>
            <p><%= proyecto.instalacion_electrica %></p>
          </div>
        
          <div id="Instalacion_agua" class="w3-container city w3-animate-zoom" style="display:none">
            <h2>Instalación del Agua</h2>
            <p><%= proyecto.instalacion_agua %></p> 
          </div>
        
          <div id="Pisos" class="w3-container city w3-animate-zoom" style="display:none">
            <h2>Pisos</h2>
            <p><%= proyecto.tipos_de_pisos %></p>
          </div>
        </div>

      </div>

      <div class="videoProyecto">
        <video src="/videos/<%= proyecto.video %>" controls></video> <!--  "controls" permite reproducir y controlar el video -->
      </div>

      <div class="solicitaDetalle">
        <div>¡EMPEZÁ A CONSTRUIR TU SUEÑO!</div>
        <button><a href="https://wa.me/5491122763820?text=" target="_blank">¡SOLICITÁ TU PRESUPUESTO! <i class="fa-solid fa-message"></i></a></button>
      </div>

    </div>

  </body>

  <script src="/js/proyectoDetalle.js"></script>

  <footer>
    <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
  </footer>

</html>