<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>  <!--  Incluye el HEAD  -->
  </head>

  <header>
    <%- include('partials/header.ejs') %>  <!--  Incluye el HEADER  -->
  </header>

  <body class="bodyIndex">
    
    

    <!--  CAROUSEL BOOTSTRAP -->
    <div id="carouselExampleDark" class="carousel carousel-white slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      
      <div class="carousel-inner">
        
        <div class="carousel-item active" data-bs-interval="6000">
          <img src="images/carousel/banner1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" style="text-align:center;">
            <div class="textosCarousel">
              <div class="tituloCarousel">TU PROYECTO INMOBILIARIO ESTÁ EN IMPORTAINER</div>
              <div class="subtituloCarousel">CASAS - DÚPLEX - PILETAS - QUINCHOS - GARAGES - JARDINES DE INVIERNO - OFICINAS - BARES - LOCALES COMERCIALES - TU PEDIDO A MEDIDA</div>
            </div>
            <div class="botonCarousel">
              <button><a href="" target="_blank">QUIERO DESCUBRIR LOS PROYECTOS DE INMUEBLES</button></a>
            </div>
          </div>
        </div>
        
        <div class="carousel-item" data-bs-interval="6000">
          <img src="images/carousel/banner2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" style="text-align:center;">
            <div class="textosCarousel">
              <div class="tituloCarousel">COMPRA LA CASA DE TUS SUEÑOS</div>
              <div class="tituloCarousel">AL MEJOR PRECIO DEL MERCADO</div>
            </div>
            <div class="botonCarousel">
              <button><a href="" target="_blank">QUIERO HACER REALIDAD MI SUEÑO</button></a>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="6000">
          <img src="images/carousel/banner3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" style="text-align:center;">
            <div class="textosCarousel">
              <div class="tituloCarousel">DESCRUBI LA LINEA COMFORT</div>
              <div class="tituloCarousel">Y DISFRUTA SUS BENEFICIOS</div>
            </div>
            <div class="botonCarousel">
              <button><a href="" target="_blank">¡QUIERO CONOCERLAS!</button></a>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="6000">
          <img src="images/carousel/banner4.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" style="text-align:center;">
            <div class="textosCarousel">
              <div class="tituloCarousel">ENAMORATE DE NUESTRA LÍNEA PREMIUM</div>
              <div class="tituloCarousel">Y SUS DISEÑOS EXCLUSIVOS</div>
            </div>
            <div class="botonCarousel">
              <button><a href="" target="_blank">¡QUIERO CONOCERLAS!</button></a>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="6000">
          <img src="images/carousel/banner5.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" style="text-align:center;">
            <div class="textosCarousel">
              <div class="tituloCarousel">RESPONDEMOS A TUS SOLICITUDES</div>
            </div>
            <div class="botonCarousel">
              <button><a href="" target="_blank">PEDÍ ASESORAMIENTO!</button></a>
            </div>
          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>


    <!--  SECCION CONTAINERS -->
    <div class="padreCajasContainersHome">
      
      <!--  Container 1 -->
      <div class="cajaContainerHome">
        <div class="imagenContainerHome"><img src="/images/containersHome/casa-container-45-m2-classic-importainer-1.jpg"></div>
        <div class="casaHome">CASA CONTAINER 15m2</div>
        <div class="entregaHome">¡ENTREGA PROGRAMADA!</div>
        <div class="detalleContainerHome">
          <div class="supHome">AMB <img src="/images/index/icono-cantidad-de-ambientes-01.png"> 1</div>
          <div class="supHome">BAÑO <img src="/images/index/icono-cantidad-de-duchas-01.png"> 1</div>
          <div class="supHome">PISOS <img src="/images/index/icono-cantidad-de-pisos-01.png"> 1</div>
        </div>
        <div class="cuotasHome">
          <div class="tituloCuotasHome">Cantidad de cuotas</div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              &nbsp 120 cuotas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              &nbsp 240 cuotas
            </label>
          </div>
        </div>
        <div class="valoresCuotasHome">
          <p>Valor de Cuota</p>
          <p class="montoCuotaHome">$42.397</p>
        </div>
        <div class="botonesContainerHome">
          <button class="botonQuieroHome" style="background: white; border-right: black solid 0.5px"><a href="">QUIERO EXPLORAR</a>
          <button class=""><a href="">QUIERO COTIZAR</a>
        </div>
      </div>

      <!--  Container 2 -->
      <div class="cajaContainerHome">
        <div class="imagenContainerHome"><img src="/images/containersHome/casa-container-45-m2-classic-importainer-1.jpg"></div>
        <div class="casaHome">
          <div>CASA CONTAINER 15m2</div>
          <div>+ PILETA CONTAINER 15m2</div>
        </div>
        <div class="entregaHome">¡ENTREGA PROGRAMADA!</div>
        <div class="detalleContainerHome">
          <div class="supHome">AMB <img src="/images/index/icono-cantidad-de-ambientes-01.png"> 1</div>
          <div class="supHome">BAÑO <img src="/images/index/icono-cantidad-de-duchas-01.png"> 1</div>
          <div class="supHome">PISOS <img src="/images/index/icono-cantidad-de-pisos-01.png"> 1</div>
        </div>
        <div class="cuotasHome">
          <div class="tituloCuotasHome">Cantidad de cuotas</div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              &nbsp 120 cuotas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              &nbsp 240 cuotas
            </label>
          </div>
        </div>
        <div class="valoresCuotasHome">
          <p>Valor de Cuota</p>
          <p class="montoCuotaHome">$81.744</p>
        </div>
        <div class="botonesContainerHome">
          <button class="" style="background: white; border-right: black solid 0.5px"><a href="">QUIERO EXPLORAR</a>
          <button class=""><a href="">QUIERO COTIZAR</a>
        </div>
      </div>

      <!--  Container 3 -->
      <div class="cajaContainerHome">
        <div class="imagenContainerHome"><img src="/images/containersHome/casa-container-45-m2-classic-importainer-1.jpg"></div>
        <div class="casaHome">
          <div>CASA CONTAINER 15m2</div>
          <div>+ PILETA CONTAINER 15m2</div>
          <div>+ QUINCHO CONTAINER 15m2</div>
        </div>
          <div class="entregaHome">¡ENTREGA PROGRAMADA!</div>
        <div class="detalleContainerHome">
          <div class="supHome">AMB <img src="/images/index/icono-cantidad-de-ambientes-01.png"> 2</div>
          <div class="supHome">BAÑO <img src="/images/index/icono-cantidad-de-duchas-01.png"> 1</div>
          <div class="supHome">PISOS <img src="/images/index/icono-cantidad-de-pisos-01.png"> 1</div>
        </div>
        <div class="cuotasHome">
          <div class="tituloCuotasHome">Cantidad de cuotas</div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              &nbsp 120 cuotas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              &nbsp 240 cuotas
            </label>
          </div>
        </div>
        <div class="valoresCuotasHome">
          <p>Valor de Cuota</p>
          <p class="montoCuotaHome">$117.857</p>
        </div>
        <div class="botonesContainerHome">
          <button class="" style="background: white; border-right: black solid 0.5px"><a href="">QUIERO EXPLORAR</a>
          <button class=""><a href="">QUIERO COTIZAR</a>
        </div>
      </div>

      <!--  Container 4 -->
      <div class="cajaContainerHome">
        <div class="imagenContainerHome"><img src="/images/containersHome/casa-container-45-m2-classic-importainer-1.jpg"></div>
        <div class="casaHome">DUPLEX CONTAINER 45m2</div>
        <div class="entregaHome">¡ENTREGA PROGRAMADA!</div>
        <div class="detalleContainerHome">
          <div class="supHome">AMB <img src="/images/index/icono-cantidad-de-ambientes-01.png"> 3A4</div>
          <div class="supHome">BAÑO <img src="/images/index/icono-cantidad-de-duchas-01.png"> 1</div>
          <div class="supHome">PISOS <img src="/images/index/icono-cantidad-de-pisos-01.png"> 1</div>
        </div>
        <div class="cuotasHome">
          <div class="tituloCuotasHome">Cantidad de cuotas</div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              &nbsp 120 cuotas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              &nbsp 240 cuotas
            </label>
          </div>
        </div>
        <div class="valoresCuotasHome">
          <p>Valor de Cuota</p>
          <p class="montoCuotaHome">$125.501</p>
        </div>
        <div class="botonesContainerHome">
          <button class="" style="background: white; border-right: black solid 0.5px"><a href="">QUIERO EXPLORAR</a>
          <button class=""><a href="">QUIERO COTIZAR</a>
        </div>
      </div>

      <!--  Container 5 -->
      <div class="cajaContainerHome">
        <div class="imagenContainerHome"><img src="/images/containersHome/casa-container-45-m2-classic-importainer-1.jpg"></div>
        <div class="casaHome">
          <div>PILETA CONTAINER 30m2</div>
        </div>
        <div class="entregaHome">¡ENTREGA PROGRAMADA!</div>
        <div class="detalleContainerHome">
          <div class="supHome">AMB <img src="/images/index/icono-cantidad-de-ambientes-01.png"> 0</div>
          <div class="supHome">BAÑO <img src="/images/index/icono-cantidad-de-duchas-01.png"> 0</div>
          <div class="supHome">PISOS <img src="/images/index/icono-cantidad-de-pisos-01.png"> 1</div>
        </div>
        <div class="cuotasHome">
          <div class="tituloCuotasHome">Cantidad de cuotas</div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              &nbsp 120 cuotas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              &nbsp 240 cuotas
            </label>
          </div>
        </div>
        <div class="valoresCuotasHome">
          <p>Valor de Cuota</p>
          <p class="montoCuotaHome">$77.432</p>
        </div>
        <div class="botonesContainerHome">
          <button class="" style="background: white; border-right: black solid 0.5px"><a href="">QUIERO EXPLORAR</a>
          <button class=""><a href="">QUIERO COTIZAR</a>
        </div>
      </div>

      <!--  Container 6 -->
      <div class="cajaContainerHome">
        <div class="imagenContainerHome"><img src="/images/containersHome/casa-container-45-m2-classic-importainer-1.jpg"></div>
        <div class="casaHome">
          <div>LOCAL COMERCIAL 60m2</div>
        </div>
        <div class="entregaHome">¡ENTREGA PROGRAMADA!</div>
        <div class="detalleContainerHome">
          <div class="supHome">AMB <img src="/images/index/icono-cantidad-de-ambientes-01.png"> 1A4</div>
          <div class="supHome">BAÑO <img src="/images/index/icono-cantidad-de-duchas-01.png"> 1</div>
          <div class="supHome">PISOS <img src="/images/index/icono-cantidad-de-pisos-01.png"> 1</div>
        </div>
        <div class="cuotasHome">
          <div class="tituloCuotasHome">Cantidad de cuotas</div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              &nbsp 120 cuotas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              &nbsp 240 cuotas
            </label>
          </div>
        </div>
        <div class="valoresCuotasHome">
          <p>Valor de Cuota</p>
          <p class="montoCuotaHome">$149.658</p>
        </div>
        <div class="botonesContainerHome">
          <button class="" style="background: white; border-right: black solid 0.5px"><a href="">QUIERO EXPLORAR</a>
          <button class=""><a href="">QUIERO COTIZAR</a>
        </div>
      </div>

      <div class="masProyectosHome">
        <a href="/proyectos/categorias"><button>QUIERO VER MÁS PROYECTOS</button></a>
      </div> 

    </div>

    <!-- Acerca de importainer  -->
    <div class="acercaHome">
      <div class="imagenYtextoAcerca">
        <div class="imagenAcercaHome"><img src="/images/containersHome/frente-fabrica-importainer.JPG"></div>
        <div class="textoAcercaHome">
          <p class="tituloAcerca">ACERCA DE IMPORTAINER S.A</p>
          <p>Somos la empresa #1 en la república de Argentina, especializada en construcciones a base de containers marítimos. Con más de 10 años de experiencia en el mercado, nos dedicamos a ser la solución ideal para cada persona que cuenta con terreno propio y sueña con realizar la casa, pileta, quincho; oficina y local comercial de sus sueños.</p>
        </div>
      </div>

      <div class="beneficiosAcerca">
        <div class="beneficiosTitulo">¡CONOCÉ NUESTROS BENEFICIOS!</div>
        
        <!--  TARJETAS GIRATORIAS  -->
        <div class="cardPadre">
          <div class="card">
            <div class="face front">
              <p>PLAN DE FINANCIACIÓN EN PESOS</p>
            </div>
            <div class="face back">
              <p>Te ofrecemos la oportunidad de construir tu proyecto 100% financiado.</p>
            </div>
          </div>
          <div class="card">
            <div class="face front">
              <p>PAGO EN CUOTAS</p>
            </div>
            <div class="face back">
              <p>Contamos con excelentes planes de pago en cuotas, ajustados a tu necesidad.</p>
            </div>
          </div>
          <div class="card">
            <div class="face front">
              <p>SISTEMA LLAVE EN MANO</p>
            </div>
            <div class="face back">
              <p>Entregamos las llaves de tu proyecto ¡Listo para habitar!</p>
            </div>
          </div>
          <div class="card">
            <div class="face front">
              <p>SHOWROOM</p>
            </div>
            <div class="face back">
              <p>Te ofrecemos un espacio donde podrás conocer cómo es nuestro sistema constructivo y asesorarte en tu compra.</p>
            </div>
          </div>
        </div>
 
        <div class="botonBeneficios"><button>CONTACTATE CON NOSOTROS <i class="fa-brands fa-whatsapp"></i></button></div>
      </div>
    </div>

    <!-- Servicios  -->
    <div class="serviciosTitulo">¡DISFRUTÁ NUESTROS SERVICIOS!</div>
    <div class="cajasServicios">
      <div class="tarjetaServicios">
        <div class="imagenServicios"><img src="/images/containersHome/obrero.png"></div>
        <br>
        <div class="tituloServicio">MANO DE OBRA</div>
        <div class="textoServicio">Contamos con un equipo en fábrica altamente capacitado en construcciones modulares.</div>
      </div>
      <div class="tarjetaServicios">
        <div class="imagenServicios"><img src="/images/containersHome/grua-de-carga.png"></div>
        <br>
        <div class="tituloServicio">ENTREGA E INSTALACIÓN EN TODO EL PAÍS</div>
        <div class="textoServicio">Transportamos e instalamos tu proyecto modular, desde nuestra fábrica, hasta tu terreno.</div>
      </div>
      <div class="tarjetaServicios">
        <div class="imagenServicios"><img src="/images/containersHome/operador.png"></div>
        <br>
        <div class="tituloServicio">ASESORÍA PERSONALIZADA</div>
        <div class="textoServicio">Contamos con ejecutivos comerciales que atenderán a todas tus consultas, y te acompañarán en el proceso de compra de tu proyecto container ¡Ideal!</div>
      </div>
    </div>

    <!-- Seccion de Entregas  -->
    <div class="tituloEntregasHome">ENTREGAS Y TESTIMONIOS</div>

    <div class="seccionEntregasHome">
      <% entregas.forEach(function(entrega){ %>
      <div class="tarjetasEntregasHome">
        <a href="/entregas/detalle/<%= entrega.id %>">
        <img src="/images/entregas/<%= entrega.imagen %>">
        <div class="subtituloEntregasIndex">
          <div><%= entrega.nombre %></div>
          <div><%= entrega.ubicacion %></div>
        </div>
        </a>
      </div>
      <% }) %>
    </div>
    

  </body>
  
  <footer>
    <%- include('partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
  </footer>
  
  <script src="/js/index.js"></script>

</html>
