<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>  <!--  Incluye el HEAD  -->
  </head>

  <header>
    <%- include('partials/header.ejs') %>  <!--  Incluye el HEADER  -->
  </header>

  <body class="bodyIndex">
    
    <!--  ---------------CAROUSEL BOOTSTRAP--------------- -->
    <div id="carouselExampleDark" class="carousel carousel-white slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      
      <div class="carousel-inner">
        
        <div class="carousel-item active" data-bs-interval="6000">
          <img src="images/carousel/banner1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" style="text-align:center;">
            <div class="textosCarousel">
              <div class="tituloCarousel">TU PROYECTO INMOBILIARIO ESTÁ EN IMPORTAINER</div>
              <div class="subtituloCarousel">CASAS - DÚPLEX - PILETAS - QUINCHOS - GARAGES - JARDINES DE INVIERNO - OFICINAS - BARES - LOCALES COMERCIALES - TU PEDIDO A MEDIDA</div>
            </div>
            <div class="botonCarousel">
              <button><a href="" target="_blank">QUIERO DESCUBRIR LOS PROYECTOS DE INMUEBLES</button></a>
            </div>
          </div>
        </div>
        
        <div class="carousel-item" data-bs-interval="6000">
          <img src="images/carousel/banner2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" style="text-align:center;">
            <div class="textosCarousel">
              <div class="tituloCarousel">COMPRA LA CASA DE TUS SUEÑOS</div>
              <div class="tituloCarousel">AL MEJOR PRECIO DEL MERCADO</div>
            </div>
            <div class="botonCarousel">
              <button><a href="/proyectos/categorias" target="_blank">QUIERO HACER REALIDAD MI SUEÑO</button></a>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="6000">
          <img src="images/carousel/banner3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" style="text-align:center;">
            <div class="textosCarousel">
              <div class="tituloCarousel">DESCUBRI LA LINEA COMFORT</div>
              <div class="tituloCarousel">Y DISFRUTA SUS BENEFICIOS</div>
            </div>
            <div class="botonCarousel">
              <button><a href="/proyectos/categorias/comfort" target="_blank">¡QUIERO CONOCERLAS!</button></a>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="6000">
          <img src="images/carousel/banner4.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" style="text-align:center;">
            <div class="textosCarousel">
              <div class="tituloCarousel">ENAMORATE DE NUESTRA LÍNEA PREMIUM</div>
              <div class="tituloCarousel">Y SUS DISEÑOS EXCLUSIVOS</div>
            </div>
            <div class="botonCarousel">
              <button><a href="/proyectos/categorias/premium" target="_blank">¡QUIERO CONOCERLAS!</button></a>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="6000">
          <img src="images/carousel/banner5.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" style="text-align:center;">
            <div class="textosCarousel">
              <div class="tituloCarousel">RESPONDEMOS A TUS SOLICITUDES</div>
            </div>
            <div class="botonCarousel">
              <button><a href="" target="_blank">PEDÍ ASESORAMIENTO!</button></a>
            </div>
          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>

    <!--  ---------------SECCION CONTAINERS--------------- -->
    <div class="padreCajasContainersHome">
      <!--  Container 1 -->
      <div class="cajaContainerHome">
        <div class="imagenContainerHome"><img src="/images/index/casa-container-15-m2-classic-importainer.jpg"></div>
        <div class="casaHome">CASA CONTAINER 15m2</div>
        <div class="entregaHome">¡ENTREGA PROGRAMADA!</div>
        <div class="detalleContainerHome">
          <div class="supHome">AMB <img src="/images/index/icono-cantidad-de-ambientes-01.png"> 1</div>
          <div class="supHome">BAÑO <img src="/images/index/icono-cantidad-de-duchas-01.png"> 1</div>
          <div class="supHome">PISOS <img src="/images/index/icono-cantidad-de-pisos-01.png"> 1</div>
        </div>
        <div class="cuotasHome">
          <div class="tituloCuotasHome">Cantidad de cuotas</div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked onchange="funcionCheckboxHome()">
            <label class="form-check-label" for="flexRadioDefault1">
              &nbsp 120 cuotas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" onchange="funcionCheckboxHome()">
            <label class="form-check-label" for="flexRadioDefault2">
              &nbsp 240 cuotas
            </label>
          </div>
        </div>
        <div class="valoresCuotasHome">
          <p>Valor de Cuota</p>
          <p id="120cuotas"  class="montoCuotaHome" style="display: block">$ <%= ((4000000/120) + ((4000000/120)*0.10) + 3050).toFixed(2) %></p>
          <p id="240cuotas"  class="montoCuotaHome" style="display: none">$ <%= ((4000000/240) + ((4000000/240)*0.10) + 3050).toFixed(2) %></p>
        </div>
        <div class="botonesContainerHome">
          <button class="botonQuieroHome" style="background: white; border-right: black solid 0.5px"><a href="">QUIERO EXPLORAR</a>
          <button class=""><a href="">QUIERO COTIZAR</a>
        </div>
      </div>

      <!--  Container 2 -->
      <div class="cajaContainerHome">
        <div class="imagenContainerHome"><img src="/images/index/casa-container-15-m2-pileta-container-15-m2-classic-importainer-1.jpg"></div>
        <div class="casaHome">
          <div>CASA CONTAINER 15m2</div>
          <div>+ PILETA CONTAINER 15m2</div>
        </div>
        <div class="entregaHome">¡ENTREGA PROGRAMADA!</div>
        <div class="detalleContainerHome">
          <div class="supHome">AMB <img src="/images/index/icono-cantidad-de-ambientes-01.png"> 1</div>
          <div class="supHome">BAÑO <img src="/images/index/icono-cantidad-de-duchas-01.png"> 1</div>
          <div class="supHome">PISOS <img src="/images/index/icono-cantidad-de-pisos-01.png"> 1</div>
        </div>
        <div class="cuotasHome">
          <div class="tituloCuotasHome">Cantidad de cuotas</div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked onchange="funcionCheckboxHome()">
            <label class="form-check-label" for="flexRadioDefault1">
              &nbsp 120 cuotas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" onchange="funcionCheckboxHome()">
            <label class="form-check-label" for="flexRadioDefault2">
              &nbsp 240 cuotas
            </label>
          </div>
        </div>
        <div class="valoresCuotasHome">
          <p>Valor de Cuota</p>
          <p id="120cuotas"  class="montoCuotaHome" style="display: block">$ <%= ((4000000/120) + ((4000000/120)*0.10) + 3050).toFixed(2) %></p>
          <p id="240cuotas"  class="montoCuotaHome" style="display: none">$ <%= ((4000000/240) + ((4000000/240)*0.10) + 3050).toFixed(2) %></p>
        </div>
        <div class="botonesContainerHome">
          <button class="botonQuieroHome" style="background: white; border-right: black solid 0.5px"><a href="">QUIERO EXPLORAR</a>
          <button class=""><a href="">QUIERO COTIZAR</a>
        </div>
      </div>

      <!--  Container 3 -->
      <div class="cajaContainerHome">
        <div class="imagenContainerHome"><img src="/images/index/casa-container-15-m2-pileta-container-15-m2-quincho-container-15-m2-classic-importainer-1.jpg"></div>
        <div class="casaHome">
          <div>CASA CONTAINER 15m2</div>
          <div>+ PILETA CONTAINER 15m2</div>
          <div>+ QUINCHO CONTAINER 15m2</div>
        </div>
          <div class="entregaHome">¡ENTREGA PROGRAMADA!</div>
        <div class="detalleContainerHome">
          <div class="supHome">AMB <img src="/images/index/icono-cantidad-de-ambientes-01.png"> 2</div>
          <div class="supHome">BAÑO <img src="/images/index/icono-cantidad-de-duchas-01.png"> 1</div>
          <div class="supHome">PISOS <img src="/images/index/icono-cantidad-de-pisos-01.png"> 1</div>
        </div>
        <div class="cuotasHome">
          <div class="tituloCuotasHome">Cantidad de cuotas</div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" onchange="funcionCheckboxHome()">
            <label class="form-check-label" for="flexRadioDefault3">
              &nbsp 120 cuotas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked onchange="funcionCheckboxHome()">
            <label class="form-check-label" for="flexRadioDefault4">
              &nbsp 240 cuotas
            </label>
          </div>
        </div>
        <div class="valoresCuotasHome">
          <p>Valor de Cuota</p>
          <p id="120cuotas"  class="montoCuotaHome" style="display: none">$ <%= ((4000000/120) + ((4000000/120)*0.10) + 3050).toFixed(2) %></p>
          <p id="240cuotas"  class="montoCuotaHome" style="display: block">$ <%= ((4000000/240) + ((4000000/240)*0.10) + 3050).toFixed(2) %></p>
        </div>
        <div class="botonesContainerHome">
          <button class="" style="background: white; border-right: black solid 0.5px"><a href="">QUIERO EXPLORAR</a>
          <button class=""><a href="">QUIERO COTIZAR</a>
        </div>
      </div>

      <!--  Container 4 -->
      <div class="cajaContainerHome">
        <div class="imagenContainerHome"><img src="/images/index/duplex-45m2-importainer.JPG"></div>
        <div class="casaHome">DUPLEX CONTAINER 45m2</div>
        <div class="entregaHome">¡ENTREGA PROGRAMADA!</div>
        <div class="detalleContainerHome">
          <div class="supHome">AMB <img src="/images/index/icono-cantidad-de-ambientes-01.png"> 3A4</div>
          <div class="supHome">BAÑO <img src="/images/index/icono-cantidad-de-duchas-01.png"> 1</div>
          <div class="supHome">PISOS <img src="/images/index/icono-cantidad-de-pisos-01.png"> 1</div>
        </div>
        <div class="cuotasHome">
          <div class="tituloCuotasHome">Cantidad de cuotas</div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              &nbsp 120 cuotas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              &nbsp 240 cuotas
            </label>
          </div>
        </div>
        <div class="valoresCuotasHome">
          <p>Valor de Cuota</p>
          <p id="120cuotas"  class="montoCuotaHome" style="display: block">$ <%= ((4000000/120) + ((4000000/120)*0.10) + 3050).toFixed(2) %></p>
          <p id="240cuotas"  class="montoCuotaHome" style="display: none">$ <%= ((4000000/240) + ((4000000/240)*0.10) + 3050).toFixed(2) %></p>
        </div>
        <div class="botonesContainerHome">
          <button class="" style="background: white; border-right: black solid 0.5px"><a href="">QUIERO EXPLORAR</a>
          <button class=""><a href="">QUIERO COTIZAR</a>
        </div>
      </div>

      <!--  Container 5 -->
      <div class="cajaContainerHome">
        <div class="imagenContainerHome"><img src="/images/index/pileta-60m2-importainer.JPG"></div>
        <div class="casaHome">PILETA CONTAINER 30m2</div>
        <div class="entregaHome">¡ENTREGA PROGRAMADA!</div>
        <div class="detalleContainerHome">
          <div class="supHome">AMB <img src="/images/index/icono-cantidad-de-ambientes-01.png"> 0</div>
          <div class="supHome">BAÑO <img src="/images/index/icono-cantidad-de-duchas-01.png"> 0</div>
          <div class="supHome">PISOS <img src="/images/index/icono-cantidad-de-pisos-01.png"> 1</div>
        </div>
        <div class="cuotasHome">
          <div class="tituloCuotasHome">Cantidad de cuotas</div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              &nbsp 120 cuotas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              &nbsp 240 cuotas
            </label>
          </div>
        </div>
        <div class="valoresCuotasHome">
          <p>Valor de Cuota</p>
          <p class="montoCuotaHome">$77.432</p>
        </div>
        <div class="botonesContainerHome">
          <button class="" style="background: white; border-right: black solid 0.5px"><a href="">QUIERO EXPLORAR</a>
          <button class=""><a href="">QUIERO COTIZAR</a>
        </div>
      </div>

      <!--  Container 6 -->
      <div class="cajaContainerHome">
        <div class="imagenContainerHome"><img src="/images/index/local-comercial-60m2-emprendimiento-importainer.JPG"></div>
        <div class="casaHome">
          <div>LOCAL COMERCIAL 60m2</div>
        </div>
        <div class="entregaHome">¡ENTREGA PROGRAMADA!</div>
        <div class="detalleContainerHome">
          <div class="supHome">AMB <img src="/images/index/icono-cantidad-de-ambientes-01.png"> 1A4</div>
          <div class="supHome">BAÑO <img src="/images/index/icono-cantidad-de-duchas-01.png"> 1</div>
          <div class="supHome">PISOS <img src="/images/index/icono-cantidad-de-pisos-01.png"> 1</div>
        </div>
        <div class="cuotasHome">
          <div class="tituloCuotasHome">Cantidad de cuotas</div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              &nbsp 120 cuotas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              &nbsp 240 cuotas
            </label>
          </div>
        </div>
        <div class="valoresCuotasHome">
          <p>Valor de Cuota</p>
          <p class="montoCuotaHome">$149.658</p>
        </div>
        <div class="botonesContainerHome">
          <button class="" style="background: white; border-right: black solid 0.5px"><a href="">QUIERO EXPLORAR</a>
          <button class=""><a href="">QUIERO COTIZAR</a>
        </div>
      </div>

    </div>

    <div class="masProyectosHome">
      <a href="/proyectos/categorias"><button>QUIERO VER MÁS PROYECTOS</button></a>
    </div> 

     <!--  ---------------SECCION EXPERIENCIA--------------- -->
    <div class="seccionExperienciaHome">

      <div class="tituloExperiencia">
        TU EXPERIENCIA PREMIUM ES IMPORTAINER S.A.
      </div>

      <div class="cajasExpercienciasHome">
        <div class="cajaExperiencia">
          <div class="experienciaImagen"><img src="/images/index/icono-busqueda-01.png"></div>
          <div class="experienciaTitulo">EXPLORÁ Y ELEGÍ</div>
          <div class="experienciaTexto"><p>Ingresá en nuestra tienda online de inmuebles container, explorá la categoría que deseás y elegí el que más te gusta.</p></div>
        </div>

        <div class="cajaExperiencia">
          <div class="experienciaImagen"><img src="/images/index/icono-ropecabezas-01.png"></div>
          <div class="experienciaTitulo">PERSONALIZÁ</div>
          <div class="experienciaTexto"><p>Disfrutá pedir tu inmueble container con tus necesidades y gustos. Personalizá cada detalle (este paso es opcional).</p></div>
        </div>

        <div class="cajaExperiencia">
          <div class="experienciaImagen"><img src="/images/index/icono-canasta-de-compra-01.png"></div>
          <div class="experienciaTitulo">REALIZÁ TU COMPRA</div>
          <div class="experienciaTexto"><p>Asesorate y elegí la mejor opción para comprar tu inmueble container al contado o en cuotas y de la forma más fácil, simple y segura.</p></div>
        </div>

        <div class="cajaExperiencia">
          <div class="experienciaImagen"><img src="/images/index/icono-casa-container-01.png"></div>
          <div class="experienciaTitulo">
            <div>RECIBÍ Y DISFRUTA</div>
            <div>TU COMPRA</div>
          </div>
          <div class="experienciaTexto"><p>Recibí tu inmueble desde donde te encuentres, descansá mientras lo instalamos por vos y disfrutalo desde el primer día.</p></div>
      </div>

    </div>

    <div class="masProyectosHome" style="margin-top: 4%">
      <a href="/proyectos/categorias"><button>QUIERO COTIZAR</button></a>
    </div> 

    <div class="cajaPadreExperienciaImagenes">
      
      <div class="cajaImagenTextoHome">
        <div class="imagenExperienciaHome">
          <img src="/images/containersHome/frente-fabrica-importainer.jpg">
        </div>
        <div class="cajaTextosExperienciaHome">
          <div class="textoExperienciaHome">Somos la empresa fabricante de inmuebles container #1 en la Republica Argentina. Tenemos más de 10 años de experiencia en la industria construyendo sueños en el país.</div>
          <div class="quieroSaberHomeExperiencia">QUIERO SABER MAS DE IMPORTAINER S.A.</div>
        </div>
      </div>

      <div class="cajaImagenTextoHome">
        <div class="imagenExperienciaHome">
          <img src="/images/sistemaConstructivo/banner-sistema-constructivo-importainer.jpg">
        </div>
        <div class="cajaTextosExperienciaHome">
          <div class="textoExperienciaHome">Somos la empresa fabricante de inmuebles container #1 en la Republica Argentina. Tenemos más de 10 años de experiencia en la industria construyendo sueños en el país.</div>
          <div class="quieroSaberHomeExperiencia">QUIERO SABER MAS DE IMPORTAINER S.A.</div>
        </div>
      </div>

    </div>  
  </div>

  <!--  ---------------SECCION ASESORARME--------------- -->
  <div class="seccionAsesorarme">

    <div class="tituloAsesorarme">¡QUIERO ASESORARME!</div>
    
    <!--  ---------------SECCION CAROUSEL DE 3D--------------- -->

      <div class="bodyCarousel3D">

        <div class="container">

          <input type="radio" name="slider" class="d-none" id="s1" checked>
          <input type="radio" name="slider" class="d-none" id="s2">
          <input type="radio" name="slider" class="d-none" id="s3">
          <input type="radio" name="slider" class="d-none" id="s4">
          <input type="radio" name="slider" class="d-none" id="s5">
      
          <div class="cards">
            <label for="s1" id="slide1">
              <div class="card" style="background-color: white;">
                <div class="infos">
                  <span>Encontré en Importainer la solución para tener la casa
                    de mis sueños. Tuve muchas dudas sobre el resultado
                    final, pero me decidí porque vi casas terminadas y me
                    enamoré. Los asesores fueron súper amables y el
                    equipo que instaló la casa en las bases de mi terreno
                    hizo un trabajo impecable. Realmente lo recomiendo.</span>
                    <span class="testimonio">- María Josefa Pérez</span>
                </div>
              </div>
            </label>
      
            <label for="s2" id="slide2">
              <div class="card" style="background-color: #F1F1F1;">
                <div class="infos">
                  <span class="lorem">Lorem ipsum dolor sit amet, sit amet  adipiscing elit. Aenean vel ansd . Nullam
                    lorem. Nulla eu
                    sodales</span>
                    <span class="name">Nike SuperRep Go</span>
                </div>
              </div>
            </label>

            <label for="s3" id="slide3">
              <div class="card" style="background-color: #E6E6E6">
                <div class="infos">
                  <span class="lorem">Lorem ipsum dolor sit amet, sit amet  adipiscing elit. Aenean vel ansd . Nullam
                    lorem. Nulla eu
                    sodales</span>
                    <span class="name">Nike SuperRep Go</span>
                </div>
              </div>
            </label>

            <label for="s4" id="slide4">
              <div class="card" style="background-color: #E6E6E6">
                <div class="infos">
                  <span class="lorem">Lorem ipsum dolor sit amet, sit amet  adipiscing elit. Aenean vel ansd . Nullam
                    lorem. Nulla eu
                    sodales</span>
                    <span class="name">Nike SuperRep Go</span>
                </div>
              </div>
            </label>

            <label for="s5" id="slide5">
              <div class="card" style="background-color: #F1F1F1;">
                <div class="infos">
                  <span class="lorem">Lorem ipsum dolor sit amet, sit amet  adipiscing elit. Aenean vel ansd . Nullam
                    lorem. Nulla eu
                    sodales</span>
                    <span class="name">Nike SuperRep Go</span>
                </div>
              </div>
            </label>

          </div>
      
        </div>
      </div>

    <!--  ---------------ENTREGAS HOME--------------- -->
    <div class="entregasHome">

      <div class="cajaEntregaHome"><a href="/entregas/detalle/10">
        <div class="imagenEntregaHome">
          <img src="/images/entregas/imagen1686318908702.JPG">
          <div class="textoQueAparece">QUIERO SABER SOBRE OTRAS ENTREGAS</div>
        </div>
        <div class="infoEntregaHome">
          <p><strong>¡ENTREGAMOS UN CASA CONTAINER DE 30m2 CON DECK!</strong></p>
          <br>
          <p>Jorge y su esposa soñaban con construir
            una casa para disfrutar en familia y optaron
            por esta hermosa casa container con deck
            que es más resistente que...</p>
          </a>
        </div>

      </div>

      
      <div class="cajaEntregaHome"><a href="/entregas/detalle/15">
        <div class="imagenEntregaHome">
          <img src="/images/entregas/imagen1686320705968.JPG">
          <div class="textoQueAparece">QUIERO SABER SOBRE OTRAS ENTREGAS</div>
        </div>
        <div class="infoEntregaHome">
          <p><strong>¡ENTREGAMOS UN CASA CONTAINER DE 30m2 CON DECK!</strong></p>
          <br>
          <p>Jorge y su esposa soñaban con construir
            una casa para disfrutar en familia y optaron
            por esta hermosa casa container con deck
            que es más resistente que...</p>
          </a>
        </div>
      
      </div>
    

      <div class="cajaEntregaHome"><a href="/entregas/detalle/2">
        <div class="imagenEntregaHome">
          <img src="/images/entregas/imagen1686252408903.JPG">
          <div class="textoQueAparece">QUIERO SABER SOBRE OTRAS ENTREGAS</div>
        </div>
        <div class="infoEntregaHome">
          <p><strong>¡ENTREGAMOS UN CASA CONTAINER DE 30m2 CON DECK!</strong></p>
          <br>
          <p>Jorge y su esposa soñaban con construir
            una casa para disfrutar en familia y optaron
            por esta hermosa casa container con deck
            que es más resistente que...</p>
          </a>
        </div>
       
      </div>
    
    </div>

    <!--  ---------------ACORDION HOME--------------- -->

    <div class="tituloAsesorarme">TAMBIEN QUIERO MI INMUEBLE CONTAINER!</div>

    <div class="preguntasTituloHome">
      PREGUNTAS FRECUENTES
    </div>

    <div class="acordeon">


      <div class="accordion accordion-flush" id="accordionFlushExample">

        <div class="headerAcordeon">COMO ME PUEDO ASESORAR?</div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <div class="tituloAcordeon">¿PUEDO VER MODELOS TERMINADOS?</div>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <div class="tituloAcordeon">¿CUÁNTO TIEMPO DEBO ESPERAR PARA TENER MI INMUEBLE CONTAINER?</div>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <div class="tituloAcordeon">¿PUEDO VISITAR ALGUNA DE SUS SUCURSALES?</div>
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              <div class="tituloAcordeon">¿CON QUÉ GARANTÍAS CUENTO AL REALIZAR LA COMPRA?</div>
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
          </div>
        </div>

      </div>

    </div>



  </body>
  
  <footer>
    <%- include('partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
  </footer>
  
  <script src="js/checkboxCuotas.js"></script>

 </html>

 
 