<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD  -->
    </head>

    <header>
        <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER  -->
    </header>

    <body>
    
        <h1>Bienvenid@ <%= usuario.nombre %> <%= usuario.apellido %></h1>

    </body>

    <footer>
        <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
    </footer>

</html>